*{
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    min-height: 100vh;
    margin: 0;
}
header{
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header > img{height: 150px;}
header > nav > ul{
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}
header > nav > ul >li{
    list-style-type: none;
    cursor: pointer;
    padding: 20px 20px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.7s;
}
header>nav>ul>li:hover{
    color: white;
    background-color: #233DFF;
}
.intro{
    display: flex;
    flex-direction: row;
    margin: 0 50px;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}
.intro > .breif > h1{
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 0px;
    color: #161C4B;
}
.intro > .breif > p{margin-bottom: 5px;}
.intro > .breif > nav{margin: 20px 0;}
.intro>.breif> nav> a > i{
    margin:  0 20px;
    font-size: 30px;
}
.intro>.breif>nav>a>i:nth-child(1){margin-left: 0;}
.intro > .breif > a{
    background-color: #233DFF;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 40px auto;
    display: block;
    width: fit-content;
}
.intro > .image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100% 0% 100% 0% / 37% 100% 0% 63%;
    background: linear-gradient(180deg, #233dff, #161c4b);
}
.intro > .image > img{max-height: 550px;}

/* New Section */
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 50px 0px ;
}
.about > .image{
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        background: linear-gradient(90deg, #233dff, #161c4b);
}