*{
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    min-height: 100vh;
    margin: 0;
}
header{
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header > img{height: 150px;}
header > nav > ul{
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}
header > nav > ul >li{
    list-style-type: none;
    cursor: pointer;
    padding: 20px 20px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.7s;
}
header>nav>ul>li:hover{
    color: white;
    background-color: #233DFF;
}
.intro{
    display: flex;
    flex-direction: row;
    margin: 0 50px;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}
.intro > .breif > h1{
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 0px;
    color: #161C4B;
}
.intro > .breif > p{margin-bottom: 5px;}
.intro > .breif > nav{margin: 20px 0;}
.intro>.breif> nav> a > i{
    margin:  0 20px;
    font-size: 30px;
}
.intro>.breif>nav>a>i:nth-child(1){margin-left: 0;}
.intro > .breif > a{
    background-color: #233DFF;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 40px auto;
    display: block;
    width: fit-content;
    transition: background-color .6s;
}
.intro > .breif > a:hover{
    background-color: #161C4B;
}
.intro > .image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100% 0% 100% 0% / 37% 100% 0% 63%;
    background: linear-gradient(180deg, #233dff, #161c4b);
}
.intro > .image > img{max-height: 550px;}

/* New Section */
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 50px 0px ;
}
.about > .image{
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        background: linear-gradient(180deg, #233dff, #161c4b);
}
.about > .text{
    margin-left: 50px;
}
.about > .text > h2{
        font-size: 40px;
        text-transform: uppercase;
        margin-bottom: 0px;
        color: #161C4B;
}
.about > .text > a{
        background-color: #233DFF;
        color: white;
        padding: 20px;
        border-radius: 10px;
        margin: 40px auto;
        display: block;
        width: fit-content;
        transition: all .6s;
}
.about>.text>a:hover{
    background-color: #161C4B;
}

/* New Section */
.portfolio{margin-bottom: 150px;}
.portfolio > h2{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 0px;
    color: #161C4B;
    text-align: center;
}
.portfolio > .container{
    margin: 0 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-width: 1360px;
    justify-content: space-between;
}
.portfolio > .container > .example{
    box-shadow: 0px 0px 20px 15px #233dffab;
    width: 280px;
    height: 310px;
    margin: 30px;
}
.portfolio > .container > .example >.image{
    width: 280px;
    height: 150px;
    background-image: url("imgs/microsoft_logo.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .8s;
}
.portfolio>.container>.example>.image > a{
    background-color: #233DFF;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all .8s;
    z-index: 2
}
.portfolio > .container > .example > .image:hover > a{
    visibility: visible;
    opacity: 1;
}
.portfolio > .container > .example > h3{
    text-align: center;
    font-size: 30px;
    color: #161c4b;
    margin-bottom: 5px;
    margin-top: 0px;
}
.portfolio > .container > .example > .tech{
    display: flex;
    padding: 0 5px;
    justify-content: space-between;
}
.portfolio > .container > .example > .tech >span:nth-child(1){
    color: #161c4b;
}
.portfolio > .container > .example > a{
    background-color: #233DFF;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 13px auto;
    display: block;
    width: fit-content;
}